.node-content .fivestar-oxygen div.fivestar-widget-static .star span.on,
.node-content .fivestar-oxygen div.fivestar-widget-static .star span.off {
    background-size: 32px 96px;
}

/* display orange stars */
.node-content div.fivestar-widget-static .star span.on {
    background-position: 0 -64px;
}

/* display yellow stars */
.node-content div.fivestar-widget-static .star span.off {
    background-position: 0 -96px;
}

.node-content div.fivestar-widget-static .star {
    width: 34px;
    height: 32px;
    background-size: 32px 96px;
}