/*
 * Fix line breaks for plain text text areas.
 */
.node-forschungsergebnis .field-type-text-with-summary,
.node-analysereport .field-type-text-with-summary,
.node-projekt .field-type-text-with-summary,
.node-wissenskarte .field-type-text-with-summary,
.field-name-field-beschreibung {
    white-space: pre-line;
}

/*
 * Full width input fields.
 */
#edit-title, #edit-field-aufgabe-und-0-value,
#edit-field-f-rderprogramm-und-0-value, #edit-field-webseite-projekt-und-0-url {
    width: 100%;
    box-sizing: border-box;
}

/*
 * Display drupal messages below the navigation bar.
 */
div.messages {
    margin-top: 70px!important;
}


/* Footer logo */
.contextual-links-region img[src*="Logo_PT_DLR_deutsch_neu.jpg"] {
    margin-top: 0 !important;
}

/* Remove unnecessary margins from node create forms */
.node-form .form-select, .form-item-field-webseite-projekt-und-0-url {
    margin: 0;
}
.node-form input[id*="-add-entityconnect-"] {
    margin: 0;
}

/* =============================================================================
    Custom content type icons for search results and user menu created content list
   ========================================================================== */

/*
 * Display content type icons.
 */
.icon.wissenskarte {
    content: '';
    background-image: url("../images/atlas/type_wissenskarte3.svg");
    background-repeat: no-repeat;
    background-position: left center;
}
.icon.biblio {
    content: '';
    background-image: url("../images/atlas/type_publikation.svg");
    background-repeat: no-repeat;
    background-position: left center;
}
.icon.analysereport {
    content: '';
    background-image: url("../images/atlas/type_analysenreport.svg");
    background-repeat: no-repeat;
    background-position: left center;
}
.icon.forschungsergebnis {
    content: '';
    background-image: url("../images/atlas/type_forschungsergebnis.svg");
    background-repeat: no-repeat;
    background-position: left center;
}
.icon.projekt {
    content: '';
    background-image: url("../images/atlas/type_projekt.svg");
    background-repeat: no-repeat;
    background-position: left center;
}

/* Icon size on search results page */
.search-result .icon {
    padding-left: 35px;
    font-size: 21px;
}

/* Icon size on user menu */
.user-profile .elementsoverview .icon {
    padding-left: 20px;
}


/* =============================================================================
    Search results
   ========================================================================== */
/*
 * Style search result box.
 */
.search-result {
    background-color: #e7e7e7;
    border-radius: 14px;
}
.search-result .title {
    margin: 0;
}
.search-result .field-name-title {
    width: 93%;
}
.search-result .group-left, .search-result .group-right {
    padding: 0.5em;
    box-sizing: border-box
}
.ds-2col-stacked-fluid.node-wissenskarte .group-right {
    width:auto;
}
.ds-2col-stacked-fluid.node-wissenskarte .group-left {
    width:auto;
}

/*
 * Style search result user
 */
.search-result .username,
.search-result .field-name-field-projektleiter a {
    background-color: #969696;
    color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 4px 5px;
    text-decoration: none;
}

.search-result .field-name-author,
.search-result .field-name-field-projektleiter {
    margin-bottom: 10px;
}
/*
 * Search result file download and external project website icons
 */
.search-result .field-name-field-webseite-projekt,
.search-result .field-name-field-attached-file {
    display: inline-block;
    float: right;
    padding-right: 0.5em;
    margin-left: auto;
    line-height: 30px;
    text-decoration: none;
}
.search-result .field-name-field-attached-file .file-icon,
.search-result .field-name-field-attached-file .file-size {
    display: none;
}
.search-result .field-name-field-attached-file .file a:before {
    font-family: FontAwesome;
    content: "\f1c1";
    font-size: x-large;
}
.search-result .field-name-field-webseite-projekt a {
    padding-right: 25px !important;
}

/*
 * Style search result title row.
 */
.group-header {
    background-color: lightgray;
    border-top-right-radius: 14px;
    border-top-left-radius: 14px;
    padding-bottom: 1px;
    display: flex;
}
.group-header > * {
    display: inline-block;
}
.group-header a {
    vertical-align: sub;
}

/*
 * Add user icon (+space) in front of user
 */
.search-result .field-name-field-projektleiter a::before,
.search-result .username::before{
    font-family: FontAwesome;
    display: inline-block;
    content: "\f007 \00a0";
}

/*
 * Add preview icon to title row.
 */
.search-result .field-name-title .title a::after {
    font-family: FontAwesome;
    content: "\f002";
    float: right;
    padding-right: 0.5em;
    padding-top: 3px;
    font-size: large;
    text-decoration: none;
}

/*
 * Search result highlighting.
 */
.ds-search-highlight {
    background-color: transparent;
    font-weight: bold;
}

/* =============================================================================
    Content type Projekt
   ========================================================================== */

/*
 * Styling of content type project (primary method of bkm).
 * TODO absolete cause project got restructured?
 */
.display_table.bkm section {
    display: inline-table;
}
.display_table.bkm section > *{
    margin-top: 0;
    margin-bottom: 0;
}
.display_table.bkm section:nth-child(2n) {
    margin-left: 2em;
    margin-right: 2em;
}
.display_table.bkm ul {
    list-style-type: none;
    padding: 0;
}


/* =============================================================================
    Content type Forschungsergebnis
   ========================================================================== */
.field-type-taxonomy-term-reference.field-label-inline {
    margin-top: 0.83em;
    margin-bottom: 0;
}

.group-attribute-bkm.field-group-fieldset {
    margin-top: 1.5em;
}

/* list style publications */
.field-name-field-publication.field-type-entityreference.view-mode-full .field-item,
.field-name-projekt-fe.view-mode-full .views-field-field-publication > .field-content {
    box-sizing: border-box;
    display:list-item;
    list-style-type: square;
    list-style-position: inside;
}

/* =============================================================================
    Content type Wissenskarte
   ========================================================================== */

/* span element to show / hide areas on click [ID 103] */
#button_hightlight {
    background-color: #444;
    padding: 0.3em;
    color: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#button_hightlight:hover {
    background-color: #666;
    cursor: pointer;
}

/* Area title width */
.img_alt {
    width: 70%;
}

.img_area .chosen-container-single {
    width: 20%;
}

/* =============================================================================
   Content type publication (biblio)
   ========================================================================== */
/* Hide author category and category table header */
.biblio-contributor-category {
    display: none;
}
table[id^="edit-biblio-contributors"] > thead:nth-child(1) > tr:nth-child(1) > th:nth-child(3) {
    display: none;
}

/* Show all authors during publication creation.
   Despite setting of 4 initial authors, only 2 are displayed on form. The other two are hidden. */
#edit-biblio-contributors > tbody tr.draggable {
    display: table-row !important;
}


/* =============================================================================
    Chosen
   ========================================================================== */
/*
 * Chosen module sets absolute width depending on length of select options.
 * Limit chosen max width to encircling element width.
 */
.chosen-container {
    max-width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}

/* Set chosen width for content types */
#forschungsergebnis-node-form .chosen-container,
#projekt-node-form .chosen-container,
#biblio-node-form .chosen-container {
    min-width: 50%;
    width: auto !important;
}

/* Save space for inline new content button */
#edit_field_umsetzungspartner_und_chosen, #edit_field_publication_und_chosen, #edit_field_project_und_chosen,
#edit_field_projektpartner_und_chosen, #edit_field_umpartner_und_chosen, #edit_field_institutionen_und_chosen{
    max-width: 80%;
}

/* Sponsor logo position quick fix */
img[src*="Logo_PT_DLR_deutsch_neu.jpg"] {
    margin-top: 0 !important;
}

/* =============================================================================
    Responsive Design
    TODO Merge into responsive.custom.css
   ========================================================================== */
/* Blöcke in der Sidebar als überlagernde slide-in menu */
@media screen and (min-width: 980px) {

    .region-sidebar-second .block {
        padding: 10px;
        background-color: #e7e7e7;
        box-shadow: 1px 2px 2px -3px #444;
    }

    #block-views-news-block:before,
    #block-user-login:before {
        color: #fff;
        font-size: .75rem;
        font-weight: bold;
        padding: .5rem;
        background-color: #52b166;
        float: left;
        position: absolute;
        right: 100%;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }

    #block-views-news-block:before {
        content:'News';
    }

    #block-user-login:before {
        content:'Login';
    }

    #block-views-news-block,
    #block-user-login {
        float: none;
        position: fixed;
        width:22%;
        right: -22%;
        margin: 0;
        transition: right;
        transition-duration: .5s;
        z-index: 99999;
    }

    #block-user-login {
        margin-top: 3rem;
        z-index: 99998;
        background-color: #cdcdcd;
    }
    #block-user-login:before {
        background-color: #444;
    }

    #block-views-news-block:hover,
    #block-user-login:hover {
        right:0;
        transition: right;
        transition-duration: 1s;
    }

    /* Main content Bereich vergrößern */
    #content-column .content-inner {
        margin-right:0;
    }
}
