/*
 * Chosen module sets absolute width depending on length of select options.
 * Limit chosen max width to encircling element width.
 */
.chosen-container {
    max-width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}

/*
 * Display drupal messages below the navigation bar.
 */
div.messages {
    margin-top: 70px!important;
}

/*
 * Styling of content type project (primary method of bkm).
 * TODO absolete cause project got restructured?
 */
.display_table.bkm section {
    display: inline-table;
}
.display_table.bkm section > *{
    margin-top: 0;
    margin-bottom: 0;
}
.display_table.bkm section:nth-child(2n) {
    margin-left: 2em;
    margin-right: 2em;
}
.display_table.bkm ul {
    list-style-type: none;
    padding: 0;
}


/*
 * Display content type icons on search result page.
 */
.title.wissenskarte::before {
    content: '';
    background-image: url("../images/atlas/type_wissenskarte3.svg");
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 30px;
}
.title.biblio::before {
    content: '';
    background-image: url("../images/atlas/type_publikation.svg");
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 30px;
}
.title.analysereport::before {
    content: '';
    background-image: url("../images/atlas/type_analysenreport.svg");
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 30px;
}
.title.forschungsergebnis::before {
    content: '';
    background-image: url("../images/atlas/type_forschungsergebnis.svg");
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 30px;
}
.title.projekt::before {
    content: '';
    background-image: url("../images/atlas/type_projekt.svg");
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 30px;
}

/*
 * Style search result box.
 */
.search-result {
    background-color: #e7e7e7;
    border-radius: 14px;
}
.search-result .title {
    background-color: lightgray;
    border-top-right-radius: 14px;
    border-top-left-radius: 14px;
    padding-bottom: 1px;
}
