/*
 * responsive.custom.css is for custom media queries that are not set via the
 * theme settings, such as cascading media queries.
 *
 * By default all the other responsive stylesheets used in Adaptivetheme use a
 * "stacking method", however cascading media queries use a waterfall method so
 * you can leverage the cascade and inheritance for all browsers that support
 * media queries.
 *
 * @SEE http://zomigi.com/blog/essential-considerations-for-crafting-quality-media-queries/#mq-overlap-stack
 *
 * NOTE: this file loads by default, to disable go to your theme settings and
 * look under the "CSS" settings tab.
 */

/*
 * Really small screens and up
 */
/* @media only screen and (min-width: 220px) {} */

/*
 * Smalltouch sizes and up
 */
/* @media only screen and (min-width: 320px) {} */

/*
 * Smalltouch sizes and down
 */
@media only screen and (max-width: 480px) {
  /* 
   * Float Region Blocks - custom media query CSS example:
   * 
   * Float regions blocks is an Extension you can enable in the appearance
   * settings for your theme. This feature allows you to automatically float
   * blocks in regions, you can switch it on and off depending on your
   * requirements. For design purposes you many want to remove the floats for
   * devices where the entire theme is just one column - for example small
   * mobile phones. The following CSS is inside the custom media query:
   *
   *   @media only screen and (max-width: 480px){}
   *
   * This will target devices with a maximum width of 480px - most small phones.
   * In these smaller screen sizes we can remove the float and widths so all
   * blocks stack instead of displaying horizonally. The selector used is an
   * "attribute selector" which will match on any float block class. Use your
   * inspector or Firebug to get the classes from the page output if you need
   * more granular control over block alignment and stacking.
   */
	.region[class*="float-blocks"] .block {
		float: none;
		width: 100%;
	}
	
	#page-wrapper {
		padding-left: 5%;
		padding-right: 5%;
		margin-left: auto;
		margin-right: auto;
		}
		
	div#content-column, div.content-inner, .sidebar-first div.content-inner, .sidebar-second div.content-inner, .two-sidebars div.content-inner, div.sidebar, .sidebar-first div.sidebar, .sidebar-second div.sidebar, .two-sidebars div.sidebar, div.region .block {
		width: auto;
		}
		
	/* EVENT ACTIVITY LOG*/
	
}

/*
 * Tablet sizes and up
 */
@media only screen and (max-width: 768px) {

/* =============================================================================
 * MODUL SHOWCASE
 * ========================================================================== */
 
.node-showcase .meetupwrap p,
.node-showcase .fokuswrap p,
.node-showcase .newswrap p,
.node-showcase .epubwrap p,
.node-showcase .atlaswrap p,
.node-showcase .biwrap p,
.node-showcase .wizardwrap p {
	width: 100%;
	}
	
.node-showcase .meetupwrap p,
.node-showcase .fokuswrap p,
.node-showcase .newswrap p,
.node-showcase .epubwrap p,
.node-showcase .atlaswrap p,
.node-showcase .biwrap p,
.node-showcase .wizardwrap p,
.node-showcase .meetupwrap img,
.node-showcase .fokuswrap img,
.node-showcase .newswrap img,
.node-showcase .epubwrap img,
.node-showcase .atlaswrap img,
.node-showcase .biwrap img,
.node-showcase .wizardwrap img {
	float: none;
	display: block;
	clear: both;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	}

}
/* =============================================================================
 * EVENTUEBERSICHT HTML LIST
 * ========================================================================== */
 
@media screen and (max-width: 980px) {
	
	div.views-field-field-news-mehr,
	.view-Eventuebersicht h3 {
		width: 100%;
		max-width: 100%;
		float: left;
		margin: .5rem 0;
		}
}

/*
 * Desktops/laptops and up
 */
/* @media only screen and (min-width: 1025px) {} */
