.img_area {
    display: block;
    vertical-align: middle;
    line-height: 20px;
    height: 20px;
}

.img_id{
    font-weight: bold;
    width: 25px;
    padding: 0px 3px;
    text-align: right;
    border: none!important;
    background: none;
}

.img_label{
    display: inline;
    margin-left: 10px;
}

.addAreaButton {
    background: url("images/add.gif") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    border: 0px;
    width: 20px;
    height: 15px;
    margin-left: 10px;
    padding: 0px;
    box-shadow: 0px 0px 0px rgba(0,0,0,0);
    margin-top: 10px;
}

.removeAreaButton {
    background: url("images/delete.gif") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    border: 0px;
    width: 20px;
    height: 15px;
    margin-left: 10px;
    padding: 0px;
    box-shadow: 0px 0px 0px rgba(0,0,0,0);
    display: inline-block;
}

.addAreaError{
    border-color: red;
}

.labelAreaErrorText{
    padding-top: 8px;
    color: red;
}

.ui-tooltip {
    background: #000;
    font-size:12px;
    height:70px;
    width:160px;
    padding:25px;
    color:#fff;
}

/*
 <div id="ui-tooltip-13" role="tooltip" class="ui-tooltip ui-widget ui-corner-all ui-widget-content" style="position: relative; top: -1287px; left: 0px; display: block;"><div class="ui-tooltip-content">Daumen</div></div>
*/